.animate-neon {
  --color1: rgba(14, 165, 233, 0.9);
  --color2: rgba(34, 211, 238, 1);
  --color3: rgba(56, 189, 248, 0.9);

  background: linear-gradient(270deg, var(--color1), var(--color2), var(--color3));
  background-size: 300% 300%;
  animation: gradient-move 6s ease infinite;

  filter: blur(40px);
}

.animate-gradient {
  --color1: rgb(110, 222, 230);
  --color2: rgb(44, 117, 201);
  --color3: rgb(0, 204, 255);

  background: linear-gradient(270deg, var(--color1), var(--color2), var(--color3));
  background-size: 600% 600%;
  animation: gradient-move 5s ease infinite;
}



@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}